{% extends 'base.html.twig' %}

{% block title %}Joke index{% endblock %}

{% block body %}
    <h1>Joke index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Punchline</th>
                <th>IsFunny</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for joke in jokes %}
            <tr>
                <td>{{ joke.id }}</td>
                <td>{{ joke.punchline }}</td>
                <td>{{ joke.isFunny ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('app_joke_show', {'id': joke.id}) }}">show</a>
                    <a href="{{ path('app_joke_edit', {'id': joke.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_joke_new') }}">Create new</a>
{% endblock %}
